
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona G³ówna</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .header {
            background-image: url('https://i.ibb.co/Y2Zn0mG/IMG-5144-1.jpg');
            background-size: cover;
            background-position:right;
            height: 300px; /* Ustaw wysokoœæ zdjêcia */
            width:80vw;
            
            text-align: center;
            color: white; /* Kolor tekstu */
            padding-top: 50px; /* Dopasuj wciêcie od góry */
        }

            .header h1 {
                margin: 0;
                font-size: 36px; /* Rozmiar tytu³u */
            }

       
    </style>
</head>
<body>
    <div class="header">
        <h1>Strona G³ówna</h1>
    </div>
    <div class="container">
        <h2>Treœæ Strony</h2>
        <p>Tutaj mo¿esz umieœciæ swoj¹ treœæ strony g³ównej.</p>
    </div>
</body>
</html>





