
@{
    ViewData["Title"] = "Login";
    @model Bootstrap.Models.Admin.Login
}

<!DOCTYPE html>
<html>
<head>
    <title>Dodaj użytkownika dla klienta</title>
    <style>
        form {
            width: 300px;
            margin: 0 auto;
        }

        input, textarea {
            width: 100%;
            margin-bottom: 10px;
        }

        button {
            width: 100%;
        }
    </style>
</head>
<body>
    <form id="loginForm" action="/AccountLoginAdminOnly/Login" method="post">
        <h3>Zaloguj się do zmiany tekstu!</h3>
        <div class="form-group mb-4">
            <label class="control-label" for="LoginName">Name</label>
            <input class="form-control" type="text" id="LoginName" Name="LoginName" />
        </div>
        <div class="form-group mb-4">
            <label class="control-label" for="LoginEmail">Email</label>
            <input class="form-control" type="text" id="LoginEmail" name="LoginEmail"  />
            </div>
        <div class="form-group mb-4">
            <label class="control-label" for="Password">Password</label>
            <input class="form-control" type="password" id="Password" name="Password"  />
        </div>
        <div class="form-group mb-4">
            
            <input type="submit" value="Login" class="btn btn-primary" >
        </div>
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["ErrorMessage"]
            </div>
            
        }
        @if (!string.IsNullOrEmpty(ViewData["UserNotFoundErrorMessage"] as string))
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["UserNotFoundErrorMessage"]
               
            </div>
        }
        @if (!string.IsNullOrEmpty(ViewData["SuccessMessage"] as string))
        {
            <div class="alert alert-success" role="alert">
                @ViewData["SuccessMessage"]
            </div>
        }
        @if (ViewData["RemainingAttempts"] != null)
        {
            <p>Pozostałe próby logowania: @ViewData["RemainingAttempts"]</p>
        }

        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p class="card-text">Tutaj zalogujesz się do zmiany tekstu! </p>
            </div>
        </div>
    </form>
    
</body>
</html>

